html, body{ height:100%; margin:0; }
body{
    font-family: 'Open Sans', Arial, sans-serif;
    display:flex;
    flex-direction: column;
    overflow-x:hidden;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.home-container{
    padding-top: 100px;
    margin: 0 auto;
    width: 50vw;
    display:flex;
    flex-flow: column nowrap;

}
.logo{
    height:96px;
}
.logo-results{
    height:36px;
}
.logo-container{
    align-self: center;
}
.search-input-container{
    width:100%;
    border-radius: 40px;
    height: 48px;
    display: flex;
    align-items:center;

    -webkit-box-shadow: 0px 0px 1px 1px #bbb;
    -moz-box-shadow: 0px 0px 1px 1px #bbb;
    box-shadow: 0px 0px 1px 1px #bbb;
}
.search-input{
    font-size: 24px;
    border:none;
    position:relative;
    left:10px;
    width: calc(100% - 50px);
}

.search-icon-container{
    position: relative;
    height: 100%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 50px;
    display: flex;
    align-items: center;
}
.search-icon-container:hover{
    background-color: rgba(12, 12, 13, 0.1);
    cursor: pointer;
}
.search-shadow{
-webkit-box-shadow: 0px 0px 2px 2px #0060DFb !important;
-moz-box-shadow: 0px 0px 2px 2px #0060DF !important;
box-shadow: 0px 0px 2px 2px #0060DF !important;
}
footer{
    display:flex;
    align-items:center;
    justify-content:center;
    background: #555;
    color:#fff;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height:40px;
}
.footer-images{
    position:absolute;
    right:5px;
}
.copyright img{
    padding-right: 5px;
}
.logo-container-results{
    display:inline-block;
}
.search-form-results{
    display:inline-block;
    flex-grow:1;
}
.results-top{
    margin-top: 20px;
    margin-left: 20px;
    width: 70vw;
    display:flex;
    flex-flow: row nowrap;
}
.search-input-results{
    font-size: 18px;
    border:none;
    position:relative;
    left:10px;
    width: calc(100% - 50px);
}
.search-input-container-results{
    width:100%;
    border-radius: 40px;
    height: 36px;
    display: flex;
    align-items:center;

    -webkit-box-shadow: 0px 0px 1px 1px #bbb;
    -moz-box-shadow: 0px 0px 1px 1px #bbb;
    box-shadow: 0px 0px 1px 1px #bbb;
}
.tab>img{
    height:24px;
}
.tab{
    margin: 2px 10px 0 0;
    font-size: 24px;
    color: #05419b;
}
.tab.active{
    border-bottom: 5px solid #05419b;
}
.tabs{
    flex-grow:1;
    border-bottom: 1px solid #bbb;
    display:flex;
    flex-direction:row;
}
.tab:nth-child(1){
    margin-left:176px;
}
.tabs-container{
    display:flex;
    flex-direction:row;
}
.results-info{
    margin-left:176px;
    font-size: 18px;
    color: #333;
}
.triples-box{
    margin:10px 0px 10px 176px;
    display:flex;
    flex-direction:column;
}
hr{
    width: 100%;
    border-top: 0;
    border-bottom: 1px solid #bbb;
}
.result{
    width: 95%;
    display:flex;
    justify-content: space-between;
}
.big-col{
    width: 40%;
}
.small-col{
    width: 20%;
}
.title{
    font-size: 16px;
}
.description, .uri{
    font-size: 12px;
}
.description{
    font-style: italic;
}
.uri{
    color: #777;
}
.pagination{
    margin-top: auto;
    align-self: center;
    margin-bottom: 5px;
}
.footer.home-footer{
    margin-top: auto;
}
.entities-box{
    margin:10px 0px 10px 176px;
    display:flex;
    flex-direction:column;
}
.answers-box{
    margin:2px 0px auto 176px;
    display:flex;
    flex-direction:column;
}
.entity-result{
    width: 95%;
    display:flex;
}
.entity-result>div{
    width: 80%;
    margin-left: 3px;
}
.entity-result>img{
    max-width: 20%;
}
.tab:hover{
    background-color: rgba(5, 65, 155, 0.3)
}
a.tab{
    text-decoration: none;
}
.pagination>a{
    margin: 0 2px;
}
a.disabled {
    text-decoration:none;
    pointer-events: none;
    cursor: default;
    color: #000;
}
a{
    word-wrap: break-word;
}
.results-info a{
    margin: 0 3px;
}
.answer-result>div>.title{
    font-weight: 600;
}
.image-with-label>img{
    max-height: 200px;
}
.image-with-label>h2{
    display: inline-block;
    margin-left: 10px;
}
.image-with-label{
    display:flex;
    align-items:center;
}
.top-answer{
   border: 1px solid #999;
   padding: 5px;
   border-radius: 3px;
   width: intrinsic;           /* Safari/WebKit uses a non-standard name */
   width: -moz-max-content;    /* Firefox/Gecko */
   width: -webkit-max-content; /* Chrome */
}
.big-col img{
    height: auto;
    max-width: 20%;
}
.big-col{
    display: flex;
}
.big-col>div{
    margin-left:3px;
    width: 80%;
}
.answer-label{
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 0 0;
}
.answer-label hr{
    margin-top:2px;
}