<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/elas4rdf/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>About Elas4RDF</title>
</head>
<body>
<div class="results-top">
    <a href="/elas4rdf" class="logo-container-results">
        <img class="logo-results" src="/elas4rdf/resources/elas4rdflogo.png" alt="Elas4RDF logo">
    </a>
</div>
<div class="about-section">
    <h3>Description</h3>
    <ul>
        <li>This demo provides keyword search over DBpedia version 2015-10</li>
    </ul>
    <h3>Involved Persons</h3>
    <ul>
        <li><span class="involved-name">Giorgos Kadilierakis</span><span class="mail"><i class="material-icons">mail_outline</i>kadilier at csd dot uoc dot gr</span></li>
        <li><span class="involved-name">Pavlos Fafalios</span><span class="mail"><i class="material-icons">mail_outline</i>fafalios at ics dot forth dot gr</span></li>
        <li><span class="involved-name">Panagiotis Papadakos</span><span class="mail"><i class="material-icons">mail_outline</i>papadako at ics dot forth dot gr</span></li>
        <li><span class="involved-name">Christos Nikas</span><span class="mail"><i class="material-icons">mail_outline</i>cnikas at ics dot forth dot gr</span></li>
        <li><span class="involved-name">Yannis Tzitzikas</span><span class="mail"><i class="material-icons">mail_outline</i>tzitzik at ics dot forth dot gr</span></li>
    </ul>
    <h3>Publication</h3>
    <ul>
        <li>Kadilierakis, G., Fafalios, P., Papadakos, P., Tzitzikas, Y.: Keyword search over rdf using document-centric information retrieval systems. In: Extended Semantic Web Conference (ESWC’2020) (2020)</li>
    </ul>
    <h3>Contact Person</h3>
    <ul>
        <li><span class="involved-name">Yannis Tzitzikas</span><span class="mail"><i class="material-icons">mail_outline</i>tzitzik at ics dot forth dot gr</span></li>
    </ul>

</div>

<div class="copyright">
    <a class="about-link" href="/elas4rdf/about">About</a>
    <a href="http://www.ics.forth.gr/isl/sar/privacy/TermsOfUse-ISL_EN.pdf" target="_blank">Terms of Use</a>
    |
    <a href="http://www.ics.forth.gr/isl/sar/privacy/PrivacyPolicy-ISL_EN.pdf" style="padding-left:0px!important;" target="_blank">Privacy Policy</a>
    | © Copyright 2020 FOUNDATION FOR RESEARCH &amp; TECHNOLOGY - HELLAS, All rights reserved.
    <div class="footer-images">
        <a href="https://www.ics.forth.gr/isl/"><img src="/elas4rdf/resources/isl_logo.png" height="30"></a>
        <a href="https://www.ics.forth.gr/"><img src="/elas4rdf/resources/ics_logo.png" height="30"></a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/elas4rdf/js/script.js"></script>
</body>
</html>