<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/elas4rdf/css/styles.css">
    <link rel="shortcut icon" href="/elas4rdf/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/elas4rdf/favicon.ico" type="image/x-icon">
    <title>About Elas4RDF</title>
</head>
<body>
<div class="results-top">
    <a href="/elas4rdf" class="logo-container-results">
        <img class="logo-results" src="/elas4rdf/resources/elas4rdflogo.png" alt="Elas4RDF logo">
    </a>
</div>
<div class="about-section">
    <h3>Description</h3>
    <ul>
        <li>Elas4RDF is a scalable, efficient and effective method for keyword search over RDF datasets. It follows a triple-centered approach (in contrast to the entity-based approach) for providing more precise and explainable results.  It relies on a special configuration of ElasticSearch for the needs of RDF. The approach is totally schema agnostic, and thus widely applicable. For capturing a wide range of information needs, Elas4RDF offers various perspectives for the search results. The current deployment is over DBpedia  version 2015-10. The evaluation over DBpedia-Entity v2 test collection has shown that Elas4RDF performs similarly to systems built from scratch and use entity-oriented and dataset-specific index structures.</li>
    </ul>
    <h3>Involved Persons</h3>
    <ul>
        <li>Giorgos Kadilierakis - kadilier at csd dot uoc dot gr</li>
        <li><a href="https://www.ics.forth.gr/~cnikas">Christos Nikas</a></li>
        <li><a href="https://www.ics.forth.gr/~fafalios">Pavlos Fafalios</a></li>
        <li><a href="https://www.ics.forth.gr/~papadako">Panagiotis Papadakos</a></li>
        <li><a href="https://www.ics.forth.gr/~tzitzik">Yannis Tzitzikas</a></li>
    </ul>
    <h3>Publication</h3>
    <ul>
        <li>
            G. Kadilierakis, P. Fafalios, P. Papadakos, Y. Tzitzikas, <br>
            <a href="http://www.ics.forth.gr/~tzitzik/publications/Tzitzikas_2020_ESWC.pdf">
                Keyword search over RDF using Document-Centric Information Retrieval Systems</a>,
            <br>
            Proceedings of the 17th Extended Semantic Web Conference (ESWC'2020), June 2020, Heraklion, Crete
        </li>
    </ul>
    <h3>Contact Person</h3>
    <ul>
        <li><a href="https://www.ics.forth.gr/~tzitzik">Yannis Tzitzikas</a></li>
    </ul>

</div>

<div class="copyright">
    <a href="http://www.ics.forth.gr/isl/sar/privacy/TermsOfUse-ISL_EN.pdf" target="_blank">Terms of Use</a>
    |
    <a href="http://www.ics.forth.gr/isl/sar/privacy/PrivacyPolicy-ISL_EN.pdf" style="padding-left:0px!important;" target="_blank">Privacy Policy</a>
    | © Copyright 2020 FOUNDATION FOR RESEARCH &amp; TECHNOLOGY - HELLAS, All rights reserved.
    <div class="footer-images">
        <a href="https://www.ics.forth.gr/isl/"><img src="/elas4rdf/resources/isl_logo.png" height="30"></a>
        <a href="https://www.ics.forth.gr/"><img src="/elas4rdf/resources/ics_logo.png" height="30"></a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/elas4rdf/js/script.js"></script>
</body>
</html>