<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/elas4rdf/css/styles.css">
    <link type="text/css" href="/elas4rdf/css/ForceDirected.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/elas4rdf/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/elas4rdf/favicon.ico" type="image/x-icon">
    <title>Elas4RDF</title>
</head>
<body>
<div th:fragment="schemaTriples">
    <div class="schema-right-label"><span th:utext="${labelText}"></span><a th:href="${typeOfUris}" th:text="${typeOfUris}"></a></div>
    <div th:each="triple : ${triples}">
        <div class="result">
            <div class="big-col" th:attr="data-id=${triple.uriToString(triple.subject)}">
                <div>
                    <div class="title"><a th:href="${triple.subject}" th:utext="${triple.subHighlight}"></a></div>
                    <div class="description" th:utext="${triple.shorten(triple.subExt)}"></div>
                    <div class="uri" th:text="${triple.subject}"></div>
                </div>
            </div>

            <div class="small-col">
                <div class="title"><a th:href="${triple.predicate}" th:utext="${triple.preHighlight}"></a></div>
                <div class="uri" th:text="${triple.predicate}"></div>
            </div>

            <div class="big-col" th:attr="data-id=${triple.uriToString(triple.optObjectUri())}">
                <div>
                    <div class="title">
                        <a  th:if="${triple.optObjectUri() != ''}" th:href="${triple.optObjectUri()}" th:utext="${triple.objHighlight}"></a>
                        <span th:if="${triple.optObjectUri() == ''}" th:text="${triple.shorten(triple.object)}"></span>
                    </div>
                    <div class="description" th:utext="${triple.shorten(triple.objExt)}"></div>
                    <div class="uri" th:if="${triple.optObjectUri() != ''}" th:text="${triple.shorten(triple.object)}"></div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
<div th:fragment="schemaEntities">
    <div class="schema-right-label"><span th:utext="${labelText}"></span><a th:href="${typeOfUris}" th:text="${typeOfUris}"></a></div>
    <span th:each="entity : ${entities}">
    <div class="entity-result" th:attr="data-id=${entity.uriToString(entity.entity)}">
        <div>
            <div class="title"><a th:href="${entity.entity}" th:text="${entity.uriToString(entity.entity)}"></a> <span class="entity-score" th:text="${entity.getFrequencyString()}"></span></div>
            <div class="description" th:utext="${entity.extClean()}"></div>
            <div class="uri" th:text="${entity.entity}"></div>
        </div>
    </div>
    <hr>
    </span>
</div>
<div th:fragment="tabLinks">
    <a th:href="${'/elas4rdf/results/triples?query=' + query}" th:class="${type == 'triples'} ? 'tab active' : 'tab'">
        <img src="/elas4rdf/resources/rdficon.png">
        Triples
    </a>
    <a th:href="${'/elas4rdf/results/entities?query=' + query}" th:class="${type == 'entities'} ? 'tab active' : 'tab'">
        <img src="/elas4rdf/resources/entitiesicon.png">
        Entities
    </a>
    <a th:href="${'/elas4rdf/results/graph?query=' + query}" th:class="${type == 'graph'} ? 'tab active' : 'tab'">
        <img src="/elas4rdf/resources/graphicon.svg">
        Graph
    </a>
    <a th:href="${'/elas4rdf/results/schema?query=' + query}" th:class="${type == 'schema'} ? 'tab active' : 'tab'">
        <img src="/elas4rdf/resources/graphicon.svg">
        Schema
    </a>
    <a th:href="${'/elas4rdf/results/qa?query=' + query}" th:class="${type == 'qa'} ? 'tab active' : 'tab'">
        <img src="/elas4rdf/resources/qaicon.svg">
        QA
    </a>
</div>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="/elas4rdf/js/jit.js"></script>
<!-- Example File -->
<script language="javascript" type="text/javascript" src="/elas4rdf/js/graphvis_schema.js"></script>
<script src="/elas4rdf/js/script.js"></script>
</body>
</html>