<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/elas4rdf/css/styles.css">
    <link rel="shortcut icon" href="/elas4rdf/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/elas4rdf/favicon.ico" type="image/x-icon">
    <title>Elas4RDF Results</title>
</head>
<body>
<div class="results-top">
    <a href="/elas4rdf" class="logo-container-results">
        <img class="logo-results" src="/elas4rdf/resources/elas4rdflogo.png" alt="Elas4RDF logo">
    </a>
    <form id="searchForm" class="search-form-results" th:action="${'/elas4rdf/results/'+type+'/'}">
        <div class="form-group">
            <div id="searchInputContainer" class="search-input-container-results">
                <input th:value="${param.query}" type="text" class="search-input-results" id="searchInput" name="query">
                <button type="submit" class="search-icon-container">
                    <img src="/elas4rdf/resources/search_icon.png">
                </button>
            </div>
        </div>
    </form>
</div>
<div class="tabs-container">
    <div class="tabs">
        <div th:replace="fragments :: tabLinks"></div>
    </div>
</div>
<div class="results-info">
    <div class="answer-label" th:if="${topAnswer != null}">Best answer for "<span th:text="${param.query}"></span>"</div>
</div>
<div class="answers-box">
    <div class="answer-result">
        <div>
            <div class="title">
                <span th:text="${topAnswer.getAnswerString()}"></span>
            </div>
        </div>
    </div>
    <span th:each="answer : ${answers}">
        <div class="answer-result">
            <div>
            <div class="title">
                <span th:text="${answer.getAnswerString()}"></span>
            </div>
        </div>
        </div>
        <hr>
    </span>
</div>
<div class="copyright">
    <a class="about-link" href="/elas4rdf/about">About</a>
    <a href="http://www.ics.forth.gr/isl/sar/privacy/TermsOfUse-ISL_EN.pdf" target="_blank">Terms of Use</a>
    |
    <a href="http://www.ics.forth.gr/isl/sar/privacy/PrivacyPolicy-ISL_EN.pdf" style="padding-left:0px!important;" target="_blank">Privacy Policy</a>
    | © Copyright 2020 FOUNDATION FOR RESEARCH &amp; TECHNOLOGY - HELLAS, All rights reserved.
    <div class="footer-images">
        <a href="https://www.ics.forth.gr/isl/"><img src="/elas4rdf/resources/isl_logo.png" height="30"></a>
        <a href="https://www.ics.forth.gr/"><img src="/elas4rdf/resources/ics_logo.png" height="30"></a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/elas4rdf/js/script.js"></script>
</body>
</html>