<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/elas4rdf/css/styles.css">
    <link type="text/css" href="/elas4rdf/css/ForceDirected.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/elas4rdf/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/elas4rdf/favicon.ico" type="image/x-icon">
    <title>Elas4RDF</title>
</head>
<body>
<div class="results-top">
    <a href="/elas4rdf" class="logo-container-results">
        <img class="logo-results" src="/elas4rdf/resources/elas4rdflogo.png" alt="Elas4RDF logo">
    </a>
    <form id="searchForm" class="search-form-results" th:action="${'/elas4rdf/results/'+type+'/'}">
        <div class="form-group">
            <div id="searchInputContainer" class="search-input-container-results">
                <input th:value="${param.query}" type="text" class="search-input-results" id="searchInput" name="query">
                <button type="submit" class="search-icon-container" th:value="${size}">
                    <img src="/elas4rdf/resources/search_icon.png">
                </button>
            </div>
        </div>
    </form>
</div>
<div class="tabs-container">
    <div class="tabs">
        <div th:replace="fragments :: tabLinks"></div>
        <span class="settings-container">
            <div class="settings-icon-container">
                <img class="settings-icon" src="/elas4rdf/resources/settings-24px.svg">
                <div id="settingsBox">
                    <input type="checkbox" id="predicateLabelsCheck">
                    <label for="predicateLabelsCheck">Show predicate labels</label>
                </div>
            </div>
        </span>
    </div>
</div>
<div class="results-info">
    <span>You searched for "<span th:text="${param.query}"></span>"</span>
</div>
<div class="results-info">
    <form id="graphSizeForm" action="/elas4rdf/results/schema">
        <input name="query" type="hidden" th:value="${query}">
        <label for="triplesNumber">Number of triples used:</label>
        <input id="triplesNumber" type="text" th:value="${size}" name="size">
    </form>
    <button class="add-remove-btn" id="add10">+10</button>
    <button class="add-remove-btn" id="remove10">-10</button>
</div>
<div id="schemaTabContent" th:attr="data-query=${query}">
    <div class="schema-left">
        <div class="schema-frequent-info">
            <p>Frequent Classes</p>
            <span class="all-frequent-classes" th:each="item : ${frequentClasses}">
                <span class="schema-frequent-class" th:text="${item.getName()+' ('+item.getCount()+')'}" th:attr="data-type=${item.getUri()}"></span>
            </span>
            <p>Frequent Properties</p>
            <span class="all-frequent-properties" th:each="item : ${frequentProperties}">
                <span class="schema-frequent-property" th:text="${item.getName()+' ('+item.getCount()+')'}" th:attr="data-predicate=${item.getUri()}"></span>
            </span>
        </div>
        <div class="schema-graph">
            <div id="graph-container">
                <div id="infovisSchema"></div>
            </div>
        </div>
    </div>
    <div class="schema-right">
        <div class="schema-right-top">

        </div>
        <div class="schema-right-bottom">

        </div>

    </div>

</div>
<div class="copyright">
    <a class="about-link" href="/elas4rdf/about">About</a>
    <a href="http://www.ics.forth.gr/isl/sar/privacy/TermsOfUse-ISL_EN.pdf" target="_blank">Terms of Use</a>
    |
    <a href="http://www.ics.forth.gr/isl/sar/privacy/PrivacyPolicy-ISL_EN.pdf" style="padding-left:0px!important;" target="_blank">Privacy Policy</a>
    | © Copyright 2020 FOUNDATION FOR RESEARCH &amp; TECHNOLOGY - HELLAS, All rights reserved.
    <div class="footer-images">
        <a href="https://www.ics.forth.gr/isl/"><img src="/elas4rdf/resources/isl_logo.png" height="30"></a>
        <a href="https://www.ics.forth.gr/"><img src="/elas4rdf/resources/ics_logo.png" height="30"></a>
    </div>
</div>
<script th:inline="javascript">
var json = [[${jsonGraph}]];
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="/elas4rdf/js/jit.js"></script>
<!-- Example File -->
<script language="javascript" type="text/javascript" src="/elas4rdf/js/graphvis_schema.js"></script>
<script src="/elas4rdf/js/script.js"></script>
</body>
</html>